.idea/
DockerVolumes/
.env
*.sln.DotSettings.*
Src/Api/appsettings.Development.json
Src/AiService/Python/models/**/*
**/**/.devcontainer/*
**/**/*.jpg
**/**/*.png
**/**/__pycache__/*

**/obj/**
**/bin/**
FILES/*
